

body{
    background-color: #EDF2FB;
}

img{
    height: 400px;
    width: 600px;
    padding-bottom: 40px;
    padding-right: 30px;
    float: left;
    margin: 0;
}
p{
    padding-left: 50px;
    width: 500px;
    padding-bottom: 20px;
    
}


#container2{
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    margin-right: 30px;
}

